img {
    max-width: 100%;
    max-height: fit-content;
}
.nav2{
    height: 400px;
    display: flex;
    margin: 100px 20px;
    background-color: transparent;
}
.drop_down_table{
    width: 300px;
    border: 1px solid black;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.pic{
    max-width: 700px;
}

